html {
    font-family: 'Playfair Display', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

/*set color library for easy use*/
:root {
   --grey:#403E46;
   --red:#FF0035;
   --brown: #D2AD90;
}

/*set wrapper as a container and make even space to left and right*/
.wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.wrapper img{
    width: 295px;
    max-width: 100%;
}

hr{
    margin-bottom: 20px;
}

/* starting the navigation bar*/

/*  Use combination of 2 typeface
    h use font-family: 'Playfair Display', serif;
    body, navigation and the rest use font-family: 'Montserrat', sans-serif;*/

.nav a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navlink {
    list-style-type: none;
    display: inline;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.logo img{
    display: block;
    text-align: center;
    max-width: 100%;
    width: 128px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: var(--grey);
}

a:hover,
a:focus,
a:active,
a.current {
    display: block;
    text-decoration: none;
    color: var(--brown);
}

/*setting font type and size */
h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: var(--grey);
    margin-bottom: 5px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: var(--grey);
    margin-top: 20px;
    margin-bottom: 10px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: var(--brown);
    margin-top: 0px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.site-footer{
    box-sizing: border-box;
    width: 100%;
   
    padding-bottom: 0px;
    padding-left: 80px;
    padding-right: 80px;
}

/* padding to give space between logo*/
a img{
    border: 0;
    width: 13px;
    padding-left: 42px;
}

.socialmedialogo{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

/*-----------------------------------------------------------
    Tablet Style
-----------------------------------*/
@media only screen and (min-width: 768px){
    /* repeat navigation bar, same menu direction with mobile*/

    .wrapper{
        box-sizing: border-box;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
    }

    /*setting font type and size */
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 49px;
        color: var(--grey);
        margin-bottom: 5px;
    }

    h2{
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        color: var(--grey);
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        color: var(--brown);
        margin-top: 0px;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }

    h4{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: var(--red);
        text-transform: uppercase;
        letter-spacing: 0.25em;
    }
    
    /*footer*/
    h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .site-footer{
        box-sizing: border-box;
        width: 100%;
    
        padding-bottom: 0px;
        padding-left: 80px;
        padding-right: 80px;
    }

}


/*-----------------------------------------------------------
    Desktop Style
-----------------------------------*/

@media only screen and (min-width: 992px){
    /* change menu direction*/

    .wrapper{
    box-sizing: border-box;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    }

    h1{
        font-family: 'Playfair Display', serif;
        font-size: 49px;
        color: var(--grey);
        margin-bottom: 5px;
    }

    h2{
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        color: var(--brown);
        margin-top: 0px;
    }

    h4{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    /*footer*/
    h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .site-footer{
        box-sizing: border-box;
        width: 100%;
    
        padding-bottom: 0px;
        padding-left: 80px;
        padding-right: 80px;
    }

    

}
