html {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/*set color library for easy use*/
:root {
    --green: #26A682;
    --grey: #3C3B3A;
    --lightgrey: #F2F2F2;
}


/* starting the navigation bar*/
.navbackground {
    background-color: var(--grey);
}

.logo {
    display: block;
    text-align: center;
    max-width: 100%;
    width: 88px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

a { 
    text-decoration: none; 
    color:var(--lightgrey);  
}

a:link,
a:visited { 
    display: block;
    /*padding: 1em 0;*/
    text-decoration: none; 
    color: var(--lightgrey);
 
}

a:hover,
a:focus,
a.current {
    text-decoration: none; 
    color:var(--lightgrey); 
    font-weight: bold; 
}

main {
    margin-top: 30px;
}

.constructionimg{
    padding-top: 0px;
}

.constructionimg img{
    max-width: 100%;
    
    height: auto;
    margin: auto;
    padding-top: 0px;
}

.aboutsection {
    background-color: var(--lightgrey);
    
    padding-bottom: 20px;
}



/*change size to fill the image left to right*/
.aboutimg,
.servicesimg {
    position: relative;
    width: 100vw;
    background: rgba(38,166,130,1);
    overflow: hidden;
    text-align: center;
}

.aboutimg img,
.servicesimg img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    max-height: 200px;
    object-fit: cover;
    opacity: 0.5;
    vertical-align: top;;
}


.aboutimg h3,
.servicesimg h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin: 0;
}

.sectionwrapper {
    width:80%;
    margin: auto;
}

/*hidden image for mobile, so use display none */
.barimg img,
.bowlingimg img,
.fitnessimg img,
.climbingimg img{
    display: none;
}

.competitivecontainer,
.climbingcontainer {
    background-color: var(--lightgrey);
    padding-top: 20px;
    padding-bottom: 20px;
}

.newsletter{
    background-color: var(--grey);
    /*margin-top: 20px;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter p{
    font-size: 18px;
    text-align: center;
    color: var(--lightgrey);
    margin-top: 0px;
    margin-bottom: 15px;
}

.subscribebutton{
    display: block;
    background-color: var(--green);
    color: var(--lightgrey);
    font-size: 20px;
    line-height: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 40px;
    border: none; 
    text-align: center;
    box-shadow: 8px 8px 20px rgba(51, 49, 49, 0.4);
    padding: 15px;
    margin: 0 auto;
}

/* change style to normal for this pecific h2, since the other h2 is different style */
.servicessection h2,
.fitnesscontainer h2{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

.competitivecontainer h2,
.climbingcontainer h2{
    font-size: 37px;
    font-style: normal;
    font-weight: bold;
}
.thankyou{
    width: 80%;
    margin: auto;
}

.thankyou h2{
    font-size: 56px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    overflow: auto;
    margin-bottom: 15px;
}

.sponsors{
    width: 80%;
    margin: auto;
    text-align: center;
}

.sponsors img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 70px;
}
/*use nth-child to change the size for the sponsor logo*/
.sponsors img:nth-child(2) {
    width: 65%;
}

.sponsors img:nth-child(3) {
    width: 80%;
}

.sponsors img:nth-child(4) {
    width: 60%;
}


/*start the footer area, use padding first 
and then use position with max height*/
footer {
    background-color: var(--grey);
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-footer{
    position: relative;
    max-height: 125px;
    display: flex;
    flex: 1 1 auto;
    align-items:center;
    justify-content: center;

}

.site-footer p{
    padding-right: 0px;
}

.site-footer > div{
    overflow: hidden;
    display:inline;
}


.site-footer > div > p{
    font-size: 24px;
    color: var(--lightgrey);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.site-footer > a{
    position: absolute;
    align-self: flex-end;
    right: 20px;
}


/*use display flex so it can change side by side with the back to top*/
.socialmedialogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialmedialogo > a {
    padding: 5px;
}

/*use float to put it on the right side*/
.backtotop{
    float: right;
    overflow:hidden;
}

.backtotop img{
    display:block;
    width: 23px;
    margin:auto;
}

.backtotop p{
    font-size: 9px;
}

/*-----------------------------------------------
Tablet Style
--------------------------*/
@media only screen and (min-width: 768px){

    .servicecontainer, 
    .fitnesscontainer, 
    .competitivecontainer, 
    .climbingcontainer {
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }


    .servicecontainer .sectionwrapper,
    .fitnesscontainer .sectionwrapper{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 20px;
    }

    
    .sectionwrapper{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 66%;
    }

    .sectionwrapper>h2{
        margin-top: 0px;
    }

    .sectionwrapper>h3{
        margin-top: 5px;
    }

    .sectionwrapperr>p{
        margin-top: 5px;
        line-height: 35px;
    }

    .barimg, 
    .fitnessimg {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 160px;
        padding-right: 0px;
    }

    .bowlingimg,
    .climbingimg {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 160px;
    }

    .barimg img, 
    .bowlingimg img, 
    .fitnessimg img, 
    .climbingimg img {
        display: block;
        width: 218px;
        height: 375px;
        object-fit: cover;
        object-position: -100px;

    }

    
    .climbingcontainer .sectionwrapper, 
    .competitivecontainer .sectionwrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 80px;
    }

    .bowlingimg img, 
    .climbingimg img {
        display: block;
        width: 218px;
        height: 375px;
        object-fit: cover;
        object-position: -10px;
    }


    /* change to display flex so its side by side with the button*/
    .newsletter {
        display: flex;
        justify-content: center;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    /*change p to marign bottom 0 so in the same line with the button */
    .newsletter p{
        font-size: 24px;
        margin-bottom: 0px;
    }

    /*make it balance by change the margin left and right*/
    .subscribebutton{
        margin-left: 60px;
        margin-right: 0px;
    }


    .thankyou h2{
        margin-top: 70px;
    }

    /*change the size for sponsors logo*/
    .sponsors img {
        width: 80%;
        height: auto;
        margin-top: 15px;
        margin-bottom: 70px;
    }
    /*use nth-child to change the size for the sponsor logo*/
    .sponsors img:nth-child(2) {
        width: 45%;
    }

    .sponsors img:nth-child(3) {
        width: 55%;
    }

    .sponsors img:nth-child(4) {
        width: 45%;
    }

}


/*-----------------------------------------------
Desktop Style
--------------------------*/
@media only screen and (min-width: 992px){
    header {
        max-width: 1920px;
        margin: 0 auto;
    }

    p {
        font-size: 24px;
    }

    .navlink {
        max-width: 1920px;
    }

    .wrapper {
        width: 90%;
    }

    /* make a grid for the header */
    .aboutcontainer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 125px;
        margin-bottom: 125px;
    }

    .constructionimg {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    /*use display flex to change to 1 row*/
    /*change the height size, its longer for desktop version*/
    .aboutsection .wrapper {
        display: flex;
        flex-shrink: 3;
        margin-top: 200px;
        margin-bottom: 200px;

    }

    .aboutsection h2,p {
        padding-right: 95px;
    }


 
    /*change size for desktop*/
    .newsletter p{
        font-size: 40px;
        padding-right: 24px;
    }

    /*change the width for the subsribe button and margin left so it close with the text*/
    .subscribebutton {
        width: 15%;
        font-size: 27px;
        font-weight: bold;
        margin-left: 20px;
    }

    .servicecontainer,
    .competitivecontainer,
    .fitnesscontainer,
    .climbingcontainer {
        margin-top: 80px;
    }


    .sectionwrapper{
        width: 90%;
    }

    /*change size*/
    .barimg img, 
    .bowlingimg img, 
    .fitnessimg img, 
    .climbingimg img {
        display: block;
        width: 814px;
        height: 337px;
        object-fit: cover;
        /*object-position: -100px;*/
    }

    .barimg,
    .fitnessimg {
        padding-left: 90px;
    }



    .thankyou h2{
        text-align: center;
        font-size: 72px;
        font-weight: bold;
        width: 625px;
        margin: 140px auto;
    }

    .sponsors {
        display: flex;
        margin: auto;
        margin-bottom: 154px;
        text-align: center;
        justify-content: space-between ;

    }
    
    .sponsors img{
        width: 40%;
        height: auto;
        /*margin-top: 96px;
        margin-bottom: 154px;*/
        margin: auto;
        
    }


    /*use nth-child to change the size for the sponsor logo*/
    .sponsors img:nth-child(2) {
        width: 20%;
    }
    
    .sponsors img:nth-child(3) {
        width: 20%;
    }
    
    .sponsors img:nth-child(4) {
        width: 13%;
    }


    /*change to bigger size*/
    .backtotop img{
        width: 50px;
    }

    .backtotop p{
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}