html {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/*set color library for easy use*/
:root {
    --green: #26A682;
    --grey: #3C3B3A;
    --lightgrey: #F2F2F2;
}

/* set a font size use Modular Scale https://www.modularscale.com/?1&rem&1.5 */
/*
h1 {
font-size: 5.063rem;
}

h2 {
font-size: 3.375rem;
}

h3 {
font-size: 2.25rem;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 1rem;
}

p {
margin: 1em 0;
}

    
body{
    background-color: white;   
}
*/


/* starting the navigation bar*/
.navbackground {
    background-color: var(--grey);
}

.navlink {
    margin: 0px;
    padding: 0px;
}

.logo {
    display: block;
    text-align: center;
    max-width: 100%;
    width: 88px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

a { 
    text-decoration: none; 
    color:var(--lightgrey);  
}

a:link,
a:visited { 
    display: block;
    /*padding: 1em 0;*/
    text-decoration: none; 
    color: var(--lightgrey);
 
}

a:hover,
a:focus,
a.current {
    text-decoration: none; 
    color:var(--lightgrey); 
    font-weight: bold; 
}

/*use list-none so the it hide the bullets point*/
li {
    display: list-item;
    color: var(--lightgrey);
    text-align: center;
    list-style: none;
    font-size: 18px;
    padding: 1em 0;
}

/*setting the size for the h and the p*/
h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-style: italic;
    margin-bottom: 0px;
}

h3{
    font-size: 24px;
    font-weight: lighter;
    color: var(--green);
    margin-top: 20px;
}

p{
    font-size: 20px;
    font-weight: lighter;
    line-height: 2;
}

/* starting point for the main */

main {
    margin-top: 30px;
}

/*change size to fill the image left to right*/

.aboutimg,
.servicesimg {
    position: relative;
    width: 100vw;
    background: rgba(38,166,130,1);
    overflow: hidden;
    text-align: center;
}

.aboutimg img,
.servicesimg img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    max-height: 200px;
    object-fit: cover;
    opacity: 0.5;
    vertical-align: top;;
}


.aboutimg h3,
.servicesimg h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin: 0;
}


.barimg img,
.bowlingimg img{
    display: none;
}

/* change style to normal for this pecific h2, since the other h2 is different style */
.servicessection h2{
    font-style: normal;
}

.competitivecontainer{
    background-color: var(--lightgrey);
    padding-top: 20px;
    padding-bottom: 20px;
}

.competitivecontainer h2{
    font-style: normal;
}

.bowlingimg{
    display: none;
}

.newsletter{
    background-color: var(--grey);
    /*margin-top: 20px;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter p{
    font-size: 18px;
    text-align: center;
    color: var(--lightgrey);
    margin-top: 0px;
    margin-bottom: 15px;
}

.subscribebutton{
    display: block;
    background-color: var(--green);
    color: var(--lightgrey);
    font-size: 20px;
    line-height: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 40px;
    border: none; 
    text-align: center;
    box-shadow: 8px 8px 20px rgba(51, 49, 49, 0.4);
    padding: 15px;
    margin: 0 auto;
}

.fitness h2{
    font-style: normal;
}

.fitness img{
    display: none;
}

.climbing{
    background-color: var(--lightgrey);
    padding-top: 20px;
    padding-bottom: 20px;
}

.climbing h2{
    font-style: normal;
}

.climbingimage{
    display: none;
}

.thankyou{
    width: 80%;
    margin: auto;
}

.thankyou h2{
    font-size: 56px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    overflow: auto;
    margin-bottom: 15px;
}

.sponsors{
    width: 80%;
    margin: auto;
    text-align: center;
}

.sponsors img {
    width: 80%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*use justify content space around so equal space around*/
/*
.socialmedialogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
*/

/*start the footer area, use padding first 
and then use position with mac height*/
footer {
    background-color: var(--grey);
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-footer{
    position: relative;
    max-height: 125px;
    display: flex;
    flex: 1 1 auto;
    align-items:center;
    justify-content: center;

}

.site-footer > div{
    overflow: hidden;
    display:inline;
}


.site-footer > div > p{
    font-size: 24px;
    color: var(--lightgrey);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.site-footer > a{
    position: absolute;
    align-self: flex-end;
    right: 20px;
}


/*use display flex so it can change side by side with the back to top*/
.socialmedialogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialmedialogo > a {
    padding: 5px;
}

/*use float to put it on the right side*/
.backtotop{
    float: right;
    overflow:hidden;
}

.backtotop img{
    display:block;
    width: 23px;
    margin:auto;
}

.backtotop p{
    font-size: 9px;
}