html {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/*set color library for easy use*/
:root {
    --green: #26A682;
    --grey: #3C3B3A;
    --lightgrey: #F2F2F2;
}

/* starting the navigation bar*/
.navbackground {
    background-color: var(--grey);
}

.logo {
    display: block;
    text-align: center;
    max-width: 100%;
    width: 88px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;  
}

a { 
    text-decoration: none; 
    color:var(--lightgrey);  
}


a:link,
a:visited { 
    display: block;
    /*padding: 1em 0;*/
    text-decoration: none; 
    color: var(--lightgrey);
 
}

a:hover,
a:focus,
a.current {
    text-decoration: none; 
    color:var(--lightgrey); 
    font-weight: bold; 
}

/*setting the size for the h and the p*/
h3{
    font-size: 24px;
    font-weight: lighter;
    margin-top: 20px;
}

p{
    font-size: 20px;
    font-weight: lighter;
    line-height: 2;
}

.contact img{
    max-width: 100%;
    /*border-radius: none;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* change background color
Make a center using display and margin
border-radius to make round corner
box-shadow to make a shadow*/
.contactform{
    max-width: 100%;
    
    background-color: var(--green);
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 24px;

    border-radius: 26px;
    box-shadow: 10px 15px 18px rgba(51, 49, 49, 0.4);
    padding-bottom: 26px;
}

.contactform h2{
    font-size: 40px;
    font-style: normal;
    color: var(--lightgrey);
    margin-bottom: 20px;
    margin-top: 0px;
}
.contactform label{
    font-size: 18px;
    color: var(--lightgrey);
}

.lineform {
    padding-bottom: 10px;
}


#fullname,
#studentnumber,
#email ,
#message {
    font-family: 'Raleway', sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-style: none;
    padding-left: 12px;
    color: var(--lightgrey);
    font-size: 16px; 
}

#fullname,
#studentnumber,
#email {
    height: 40px;
    border-radius: 72px;
}


/* change the height szie
change the border radius
,more height compare to the fullname,student number and email */
#message{
    height: 100px;
    border-radius: 10px;
}

.submitbutton {
    background-color: var(--grey);
    box-sizing: border-box;
    color: var(--lightgrey);
    width: 100%;
    height: 50px;
    border-style: none;
    border-radius: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 2px 8px 8px rgba(51, 49, 49, 0.4);
    font-size: 32px;
    font-weight: bold;
}

.location{
    margin-top: 100px;
    margin-bottom: 100px;
}

.location h2{
    font-size: 40px;
    font-style: normal;
    border-style: none;
}

.location h3{
    font-size: 24px;
    font-weight: lighter;
    color: var(--grey);
}

.location p{
    font-size: 16px;
    line-height: 2;
}

iframe{
    width: 100%;
    height: 300px;
}



/*start the footer area, use padding first 
and then use position with mac height*/
footer {
    background-color: var(--grey);
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-footer{
    position: relative;
    max-height: 125px;
    display: flex;
    flex: 1 1 auto;
    align-items:center;
    justify-content: center;

}

.site-footer > div{
    overflow: hidden;
    display:inline;
}


.site-footer > div > p{
    font-size: 24px;
    color: var(--lightgrey);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.site-footer > a{
    position: absolute;
    align-self: flex-end;
    right: 20px;
}


/*use display flex so it can change side by side with the back to top*/
.socialmedialogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialmedialogo > a {
    padding: 5px;
}

/*use float to put it on the right side*/
.backtotop{
    float: right;
    overflow:hidden;
}

.backtotop img{
    display:block;
    width: 23px;
    margin:auto;
}

.backtotop p{
    font-size: 9px;
}

/*-----------------------------------------------
Tablet Style
--------------------------*/
@media only screen and (min-width: 768px){

    /* change the size for tablet*/
    /*setting the size for the h and the p*/

    p{
        font-size: 18px;
        font-weight: lighter;
        line-height: 1.5;
    }

    /*change size to smaller for the tablet */
    .contact img{
        width: 85%;
    }

    /*adjust the padding for tablet style*/
    .contactform{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 111px;
    }

    .contactform h2{
        font-size: 72px;
        font-weight: bold;
        margin-top: 40px; 
        margin-bottom: 40px; 
    }

    .contactform label{
        font-size: 24px;
        font-weight: lighter;
        line-height: 2;
    }

    #fullname,
    #studentnumber,
    #email {
        height: 50px;
    }

    #message {
        height: 148px;
    }

    /*change submit button to the right*/
    .submitbutton{
        width: 45%;
        height: 65px;
        line-height: 5px;
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        white-space: nowrap;
        box-shadow: 2px 8px 8px rgba(51, 49, 49, 0.4);
        padding: 20px;
        float: right;  
    }

    .location {
        margin-top: 45px;
        margin-bottom: 45px;

    }
    .location h2{
        font-size: 72px;
        font-weight: bold;
    }

    .location h3{
        font-size: 40px;
    }

    .location p{
        font-size: 18px;
    }

    /*change size for the location map*/
    iframe{
        width: 100%;
        height: 500px;
    }

}




/*-----------------------------------------------
Desktop Style
--------------------------*/
@media only screen and (min-width: 992px){






    
}