html {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/*set color library for easy use*/
:root {
    --green: #26A682;
    --grey: #3C3B3A;
    --lightgrey: #F2F2F2;
}

/* starting the navigation bar*/
.navbackground {
    background-color: var(--grey);
}

.navlink {
    margin: 0px;
    padding: 0px;
}

.logo {
    display: block;
    text-align: center;
    max-width: 100%;
    width: 88px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

a { 
    text-decoration: none; 
    color:var(--lightgrey);  
}


a:link,
a:visited { 
    display: block;
    /*padding: 1em 0;*/
    text-decoration: none; 
    color: var(--lightgrey);
 
}

a:hover,
a:focus,
a.current {
    text-decoration: none; 
    color:var(--lightgrey); 
    font-weight: bold; 
}

/*use list-none so the it hide the bullets point*/
li {
    display: list-item;
    color: var(--lightgrey);
    text-align: center;
    list-style: none;
    font-size: 18px;
    padding: 1em 0;
}

/*setting the size for the h and the p*/
h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-style: italic;
    margin-bottom: 0px;
}

h3{
    font-size: 24px;
    font-weight: lighter;
    color: var(--green);
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    font-size: 20px;
    font-weight: lighter;
    line-height: 2;
}

/* starting point for the main */

svg{
    display: block;
    margin: auto;
}

.discoverac{
    padding: 10px;
    overflow: hidden;
}

.discoverac p{
    margin-top: 5px;
    color: var(--grey);
}

.discovericon {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.discovericon > div{
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.discovericon > div > div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.discovericon div p {
    font-size: 17px;
    color: var(--green);
    text-align: center;
    white-space: nowrap;
    margin-top: 0;
}
/* use border radius to make round shape button and use box shadow to add shadow*/
.button {
    display: block;
    width: 100%;
    line-height: 25px;
    background-color: var(--green);
    color: var(--lightgrey);
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 40px;
    border: none; 
    text-align: center;
    box-shadow: 8px 8px 20px rgba(51, 49, 49, 0.4);
    padding: 15px;
}

/* move button to the right side, float
change width size*/

.learnmorebutton {
    width: 55%;
    line-height: 5px;
    background-color: var(--green);
    color: var(--lightgrey);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    text-align: center;
    white-space: nowrap;
    box-shadow: 2px 8px 8px rgba(51, 49, 49, 0.4);
    padding: 20px;
    float: right;
    margin-bottom: 30px;
}


.discoverimagesvg img{
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-top: 38px;
}

/*use display none to hide the scroll for the mobile*/
.scroll,
.scroll img {
    display: none;
}

/*use max-width to cover from left to right*/
.discoverimage img{
    padding-top: 38px;
    max-width: 100%;
}

/* use wrapper for the space size and better*/
.wrapper {
    width: 80%;
    margin: auto;
}

.sa{
    background-color: var(--grey);
    padding-top: 30px;
    padding-bottom: 30px;
}


/*use border radius so it change shape to round from the css*/
.simonimg{
    max-width: 100%;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.simon img{
    width: 175px;
    max-width: 100%;
    border-radius: 100%;
    border: 5px solid var(--lightgrey);
    background-color: var(--lightgrey);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.sa h4{
    font-size: 24px;
    line-height: 40px;
    color: var(--lightgrey);
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
}
.sa p{
    color: var(--lightgrey);
    font-size: 16px;
    line-height: 35px;
}

.discoverentertainment img {
    max-width: 100%;
}

/* use overflow hidden to hide the overlay*/
.discoveren{
    padding: 10px;
    overflow: hidden;
}

/*start the footer area, use padding first 
and then use position with mac height*/
footer {
    background-color: var(--grey);
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-footer{
    position: relative;
    max-height: 125px;
    display: flex;
    flex: 1 1 auto;
    align-items:center;
    justify-content: center;

}

.site-footer > div{
    overflow: hidden;
    display:inline;
}


.site-footer > div > p{
    font-size: 24px;
    color: var(--lightgrey);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.site-footer > a{
    position: absolute;
    align-self: flex-end;
    right: 20px;
}


/*use display flex so it can change side by side with the back to top*/
.socialmedialogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialmedialogo > a {
    padding: 5px;
}

/*use float to put it on the right side*/
.backtotop{
    float: right;
    overflow:hidden;
}

.backtotop img{
    display:block;
    width: 23px;
    margin:auto;
}

.backtotop p{
    font-size: 9px;
}

/*-----------------------------------------------
Tablet Style
--------------------------*/
@media only screen and (min-width: 768px){

/* change to menu direction */
/*repeat navigation bar*/

li:first-child{
    position: absolute;
    left: 0;
    top: 0;
    /*padding-left: 30px;*/
    padding-left: 50px;
}

.navlink {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 80px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*padding: 30px;*/
    max-width: 1200px;
}

/*align to the right*/

li {
    display: flex;
    margin-left: 20px;
    margin-right: 0px;
    padding: 5px;
    /*padding-right: 80px;
    /*
    padding-left: 80px;
    padding-right: 80px;
    /*padding: 5px;*/
}


/* change the size for tablet*/
/*setting the size for the h and the p*/
h1{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 0px;
}

h2{
    font-size: 40px;
    font-style: italic;
    margin-bottom: 0px;
}

h3{
    font-size: 32px;
    font-weight: lighter;
    color: var(--green);
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    font-size: 18px;
    font-weight: lighter;
    line-height: 2;
}



/*change to 1 row, flex no wrap
change the justify content for same spacing in the middle*/
.discovericon {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0px;

}

/*change the width for the tablet display,
change font size */
.button {
    width: 50%;
    font-size: 40px;
    margin: auto;
}

/*change image size smaller for the tablet */
.discoverimagesvg img{
    max-width: 100%;
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 38px;
}

/* change display, so it will show up for tablet style
use transform to rotate the arrow image*/

.scroll {
    display: block;
}

/*use margin bottom to remove the spacing*/
.scroll p{
    font-size: 9px;
    text-align: center;
    margin-bottom: 0px;
}

.scroll img {
    display: block;
    width: 23px;
    margin: auto;
    transform: rotate(180deg);
}

/* change image height, use object fit and position to fit the image size */
.discoverentertainment img,
.discoverimage img{    
    width:100%;
    max-height: 200px;
    object-fit: cover;
    object-position: 0 -170px;
}

/* use grid to make image on the left and text on the right */
.sa .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.simon{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*change font size bigger for tablet*/
.sa h4{
    font-size: 24px;
    font-weight: bold;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*change font size bigger for tablet*/
.sa p{
    font-size: 24px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/*change width button for tablet style*/
.learnmorebutton {
    width: 35%;
}    