/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------------------------------
          Custom Styles
------------------------------------ */
html {
  font-family:'Montserrat', sans-serif;
  font-size: 22px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #F7F7FF;
  color: #333131;
}

body {
  line-height: 1.5;
}

header {
    padding-top: 25px;
    padding-bottom: 0px;
}

main {
    padding-top: 0px;
}

.logo img{
    width: 115px; 
 }

/* ---------------------------------
          Mobile Styles
------------------------------------ */

header,
main {
  padding-left: 38px;
  padding-right: 38px;
}

main {
    padding-bottom: 25px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

p{
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.applyform p{
    font-size: 16px;
    font-weight: normal;
}

/* Make a background form size with width and height
Make a center using display and margin
border-radius to make round corner
box-shadow to make a shadow*/
.applyform {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 26px;
    box-shadow: 10px 15px 18px rgba(51, 49, 49, 0.4);
    padding-bottom: 26px;
}

#firstname,
#lastname,
#phonenumber,
#emailaddress {
    font-family:'Montserrat', sans-serif;
    background-color: #F4F4F5;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 40px;
    border-radius: 11px;
    box-sizing: border-box;
    border-style: none;
    padding-left: 12px;
    color: #9B9B9B;
    font-size: 16px;
}
.agreecheckbox {
    display: inline-block;
}

input {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: #333131;
    border-radius: 5px;
}

/* use this format so the checkbox align with the text*/
input[type="checkbox"]
{
    vertical-align: middle;
}

label {
    font-size: 16px;
}

.applytext p{
    font-size: 14px;
}
/*change color for the link*/
.applytext a{
    font-size: 14px;
    color: #FF8480;
}

/* use text-transform to change to all caps*/
.applybutton {
   background-color: #57EEAB;
   box-sizing: border-box;
   width: 100%;
   height: 55px;
   border-style: none;
   border-radius: 11px;
   margin-top: 8px;
   margin-bottom: 8px;
   font-family:'Montserrat', sans-serif;
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
}
/*add background color, and set up for the padding */
footer {
    background-color: #FFFD8C;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*use margin to make sure in the center alignment */
.footer-container {
    box-sizing: border-box;
    width: 100%;
    /*max-width: 500px;*/
    margin: 0 auto;
    padding-left: 38px;
    padding-right: 38px;
    /*margin-left: auto;
    margin-right: auto;
    /*padding-left: 38px;
    padding-right: 38px;*/
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.footer-container p{
    font-size: 16px;
    margin-bottom: 5px;
}

/*change width presentage to make sure it can fit in display inline*/
#hours {
    border-radius: 11px;
    background-color: #F7F7FF;
    border-style: none;
    width: 28%;
    height: 40px;
    padding-left: 12px;
    font-family:'Montserrat', sans-serif;
}

/*change width presentage to make sure it can fit in display inline*/
#city {
    border-radius: 11px;
    background-color: #F7F7FF;
    border-style: none;
    width: 60%;
    height: 40px;
    padding-left: 12px;
    font-family:'Montserrat', sans-serif;
}

/*use display inline so the hours and city lineform side by side*/
.hourscityform{
    display: inline;
    flex-direction: row;
    align-items: flex-start;
}

a img{
   border: 0; 
}
/* Use text transform to change to all caps
add background color, and border radius*/
.calculatebutton {
    border-radius: 11px;
    background-color: #FF8480;
    box-sizing: border-box;
    border-style: none;
    width: 100%;
    
    height: 40px;
    color:#F7F7FF;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
/*use justify content space around so equal space around*/
.socialmedialogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}


/* -----------------------------------------------------------------------
          Tablet Styles
------------------------------------ */
@media only screen and (min-width: 768px){

    /* use max width to help keep the same size and break point at 600px */
    header {
        max-width: 1200px;
    }

    /* Need to responsive, use margin 0 auto make sure its in the middle */
    header,
    main {
        margin: 0 auto;
    }

    main {
        padding-bottom: 93px;
    }

    /* bigger than mobile device, change font size */
    h1 {
        font-size: 80px;
        font-weight: bold;
    }
    
    p{
        font-size: 24px;
        font-weight: normal;
    }
    
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .own-boss{
        margin: 0 auto;
        max-width: 1200px;
    }
    
    /* form using display flex and flex direction, so it can change order in the form */
    form {
        display: flex;
        flex-direction: column ;
    }

    .applyform p{
        font-size: 30px;
        font-weight: normal;
    }
    
    /* Make a background form size with width and height
    Make a center using display and margin
    border-radius to make round corner
    box-shadow to make a shadow*/
    .applyform {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: white;
        display: block;
    
        padding: 38px;
        border-radius: 26px;
        box-shadow: 10px 15px 18px rgba(51, 49, 49, 0.4);
        padding-bottom: 38px;
    }

    /* use nth-child so i can change the order*/
    .applyform .lineform:nth-child(1){
        order: 1;
    }

    .applyform .lineform:nth-child(2){
        order: 2;
    }

    .applyform .lineform:nth-child(3){
        order: 4;
    }

    .applyform .lineform:nth-child(4){
        order: 3;
    }

    /* because before using flex, 
    so the check box, apply button and apply text need to set an order number too*/
    .agreecheckbox{
        order: 5;
    }

    .applybutton {
        order: 6;
    }

    .applytext {
        order: 7;
    }

    /* use specific id to change the lineform, color, padding,size, and border style */ 
    #firstname,
    #lastname,
    #phonenumber,
    #emailaddress {
        font-family:'Montserrat', sans-serif;
        background-color: #F4F4F5;
        margin-top: 8px;
        margin-bottom: 8px;
        box-sizing: border-box;
        width: 100%;
        height: 55px;
        border-radius: 11px;
        border-style: none;
        padding-left: 18px;
        color: #9B9B9B;
        font-size: 18px;
    }
    
    input {
        width: 25px;
        height: 25px;
        border-style: solid;
        border-color: #333131;
        border-radius: 5px;
    }
    
    /* use this format so the checkbox align with the text*/
    input[type="checkbox"]
    {
        vertical-align: middle;
    }
    
    label {
        font-size: 20px;
    }
    
    .applytext p{
        font-size: 17px;
    }
    
    /*change color for the link*/
    .applytext a{
        font-size: 17px;
        color: #FF8480;
    }
    
    /* use text-transform to change to all caps*/
    .applybutton {
       background-color: #57EEAB;
       box-sizing: border-box;
       width: 100%;
       max-width: 1200px;
       margin: 0 auto;;
       padding: 16px;
       border-style: none;
       border-radius: 11px;
       
       font-family:'Montserrat', sans-serif;
       font-size: 32px;
       font-weight: bold;
       text-transform: uppercase;
    }
    
    /* change text align to center for tablet */
    .applytext p,
    .applytext a {
        text-align: center;
    }
    
    /*add background color, and set up for the padding */
    footer {
        background-color: #FFFD8C;
        /*width: 100%;*/
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    /*use margin to make sure in the center alignment */
    .footer-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        /*padding-left: 82px;*/
    }
    
    h4 {
        font-size: 18px;
        font-weight: bold;
    }
    
    .footer-container p{
        font-size: 16px;
        margin-bottom: 5px;
    }

    /* use padding to make sure the text move to the side a bit,
    margin right to give space to the city form*/
    #hours {
        border-radius: 11px;
        background-color: #F7F7FF;
        border-style: none;
        width: 122px;
        height: 40px;
        padding-left: 12px;
        margin-right: 18px;
        font-family:'Montserrat', sans-serif;
    }
    
    /* use padding to make sure the text move to the side a bit,
    margin right to give space to the calculate button*/
    #city {
        border-radius: 11px;
        background-color: #F7F7FF;
        border-style: none;
        width: 260px;
        height: 40px;
        padding-left: 12px;
        margin-right: 18px;
        font-family:'Montserrat', sans-serif;
    }
    
    .footerform {
        display: flex;
        flex-direction: row;
    }

    /* Use text transform to change to all caps
    add background color, and border radius, change width*/
    .calculatebutton {
        border-radius: 11px;
        background-color: #FF8480;
        border-style: none;
        box-sizing: border-box;
        /*width: 100%;*/
        height: 40px;
        color:#F7F7FF;
        font-family:'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Padding to give space between logo*/
    a img{
       border: 0;
       padding-right: 40px; 
    }
    
    /* make center alignment for all social media logo with justify-content center*/
    .socialmedialogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    
    }

/* -----------------------------------------------------------------------
          Desktop Styles
------------------------------------ */
@media only screen and (min-width: 992px){
    
    /* Need to responsive, and change padding to make look similar as the example given */
    header,
    main {
       /* padding-left: 139px;
        padding-right: 139px;*/
        padding-bottom: 100px;
        max-width: 1460px;
        margin: 0 auto;
    }

    main {
        padding-bottom: 88px;
    }

    /* same size as tablet font size */
    h1 {
        font-size: 80px;
        font-weight: bold;
        max-width: 536px;
    }
    
    p{
        font-size: 24px;
        font-weight: normal;
        max-width: 536px;
    }
    
    h2 {
        font-size: 40px;
        font-weight: bold;
    }

    /* start with using diplay grid
    make the image as background image */
    section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap:0px;
        background-image: url(images/bg-image/scooter.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .own-boss {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .image {
        display: none;
        /*
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        /*width: 820px;*/
        width: 100%;
    }


    /**/
    form {
        display: flex;
        flex-direction: column ;
    }
    /* change font size*/
    /*change text replacement using css visibility */
    .applyform > p{
        font-size: 24px;
        font-weight: normal;
        visibility: hidden;
        position: relative;
    }

    .applyform > p:after{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content:"Enter your info below to get started.";
    }

    /* Make a background form size with width and height
    Make a center using display and margin
    border-radius to make round corner
    box-shadow to make a shadow*/
    .applyform {
        background-color: white;
        box-sizing: border-box;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        height: 590px;
        padding: 40px;
        border-radius: 26px;
        box-shadow: 10px 15px 18px rgba(51, 49, 49, 0.4);
        padding-bottom: 0px;

        grid-column-start: 6;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /* use nth-child so i can change the order*/
    .applyform .lineform:nth-child(1){
        order: 1;
    }

    .applyform .lineform:nth-child(2){
        order: 2;
    }

    .applyform .lineform:nth-child(3){
        order: 4;
    }

    .applyform .lineform:nth-child(4){
        order: 3;
    }

    /* because before using flex, 
    so the check box, apply button and apply text need to set an order number too*/
    .agreecheckbox{
        order: 5;
    }

    .applybutton {
        order: 6;
    }

    .applytext {
        order: 7;
    }

    /* use specific id to change the lineform, color, padding,size, and border style */ 
    #firstname,
    #lastname,
    #phonenumber,
    #emailaddress {
        font-family:'Montserrat', sans-serif;
        background-color: #F4F4F5;
        margin-top: 8px;
        margin-bottom: 8px;
        box-sizing: border-box;
        width: 100%;
        height: 55px;
        border-radius: 11px;
        border-style: none;
        padding-left: 18px;
        color: #9B9B9B;
        font-size: 18px;
    }
    
    input {
        width: 25px;
        height: 25px;
        border-style: solid;
        border-color: #333131;
        border-radius: 5px;
    }
    
    /* use this format so the checkbox align with the text*/
    input[type="checkbox"]
    {
        vertical-align: middle;
    }
    
    label {
        font-size: 20px;
    }
    
    .applyform .applytext p{
        font-size: 17px;
    }
    
    /*change color for the link*/
    .applyform .applytext a{
        font-size: 17px;
        color: #FF8480;
    }
    
    /* use text-transform to change to all caps*/
    .applybutton {
       background-color: #57EEAB;
       width: 525px;
       height: 64px;
       border-style: none;
       border-radius: 11px;
       margin-top: 8px;
       margin-bottom: 8px;
       font-family:'Montserrat', sans-serif;
       font-size: 32px;
       font-weight: bold;
       text-transform: uppercase;
    }
    
    /* change text align to center for tablet */
    .applytext p,
    .applytext a {
        text-align: center;
    }
    
    /*add background color, and set up for the padding */
    footer {
        background-color: #FFFD8C;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /*Need to be flex and align to center, useful to change socialmedialogo place*/
    .site-footer{
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }    

    /*use margin to make sure in the center alignment */
    .footer-container {
        max-width: 1640px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    h4 {
        font-size: 18px;
        font-weight: bold;
    }
    
    .footer-container p{
        font-size: 16px;
        margin-bottom: 5px;
    }

    /* use padding to make sure the text move to the side a bit,
    margin right to give space to the city form*/
    #hours {
        border-radius: 11px;
        background-color: #F7F7FF;
        border-style: none;
        width: 122px;
        height: 40px;
        padding-left: 12px;
        margin-right: 18px;
        font-family:'Montserrat', sans-serif;
    }
    
    /* use padding to make sure the text move to the side a bit,
    margin right to give space to the calculate button*/
    #city {
        border-radius: 11px;
        background-color: #F7F7FF;
        border-style: none;
        width: 260px;
        height: 40px;
        padding-left: 12px;
        margin-right: 18px;
        font-family:'Montserrat', sans-serif;
    }
    
    .footerform {
        display: flex;
        flex-direction: row;
    }

    /* Use text transform to change to all caps
    add background color, and border radius, change width*/
    .calculatebutton {
        border-radius: 11px;
        background-color: #FF8480;
        border-style: none;
       /* width: 100%; */
        box-sizing: border-box;
        color:#F7F7FF;
        font-family:'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0px;
    }


    /* Padding to give space between logo*/
    a img{
       border: 0;
       padding-right: 40px; 
    }
    
    
    /*  */
    .socialmedialogo {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        /*margin-top: 15px;
        margin-right: 139px;
        position: absolute;
        right: 0;*/
    }

    /* use nth-child so i can change the order*/
    /* facebook logo move to 3rd place so change order*/
    .socialmedialogo a:nth-child(1){
        order: 3;
    }

    /* instagram logo move to 1st place, so change order*/
    .socialmedialogo a:nth-child(2){
        order: 1;
    }
    
    /* instagram logo move to 1st place, so change order*/
    .socialmedialogo a:nth-child(3){
        order: 2;
    }

    /* linkedin logo same position, put order number 4*/
    .socialmedialogo a:nth-child(4){
        order: 4;
    }

    }
