/* ---------------------------------
          Mobile Styles
------------------------------------ */
@media only screen and (max-width: 760px){

  /* navigation */

  #nav .nav-link ,
  #nav .nav-link:link,
  #nav .nav-link:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #403b38;
  }
  
  #nav .nav-link:hover,
  #nav .nav-link:focus,
  #nav .nav-link.current {
    background-color: #403b38;
    color: #e6bc9c;
  }


section#home.home {
  text-align: left;
}

h1.page-title {
  text-align: left;
}

section#about.about {
  display: flex;
  flex-direction: column;
}

section#about.about {
  text-align: left;
}

h2.section-title {
  text-align: left;
}

section#contact.contact {
  text-align: left;
}

input.contact-form-input, 
.contact-form-input,
textarea.contact-form-input {
  width: 95%;
}

} 


/* ---------------------------------
          Desktop Styles
------------------------------------ */
@media only screen and (min-width: 761px){
  
html{
  font-size: 16px;
}

/* navigation */

#nav .nav-link ,
#nav .nav-link:link,
#nav .nav-link:visited {
  display: inline;
  padding: 1em 0;
  text-decoration: none;
  color: #403b38;
}

#nav .nav-link:hover,
#nav .nav-link:focus,
#nav .nav-link.current {
  background-color: #403b38;
  color: #e6bc9c;
}


section#home.home {
  text-align: center;
}

h1.page-title {
  text-align: center;
}

section#about.about {
  text-align: left;
  float:left;
}

h2.section-title {
  text-align: center;
}

section#contact.contact {
  text-align: left;
}

input.contact-form-input,
.contact-form-input,
textarea.contact-form-input {
  width: 98%;
}

}

/* ---------------------------------
          Custom Styles
------------------------------------ */

main#main.main {
  max-width: 100%;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  
}

body {
  line-height: 1.5;
  
}

#nav.nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px auto;
  border: 3px solid #e6bc9c;
  background-color: #e6bc9c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: auto;
}

section#home.home {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 100px;
  background-color:#fadbc2;
  color: #403b38;
}

h1.page-title {
  font-family: serif;
  font-size: 2.5rem;
}

section#about.about {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 100px;
  background-color:#403b38;
  color: #fadbc2;
}

h2.section-title {
  font-family: serif;
  font-size: 2.5rem;
}

section#contact.contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
 
  padding: 100px;
  background-color:#a67e5e;
  color: #403b38;
}

form.contact-form {
  background-color:#a67e5e;
  border: 3px solid #fadbc2;
  text-align: left;
  padding: 20px;
  width: auto;
  line-height: 1.8;
}
input.contact-form-input,
.contact-form-input,
textarea.contact-form-input {
  padding: 10px;
}

button {
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  margin: 8px 2px;
}

footer {
  margin: auto;
  background-color: #e6bc9c;
  color: #403b38;
  padding-top: 30px;
  padding-bottom: 30px;
}


footer p{
  text-align: center;
}