/* ---------------------------------
          Mobile Styles
------------------------------------ */
@media only screen and (max-width: 760px){

 /* navigation - use display block so the navigation bar shows in column, 
change background color, color when the cursor hover, use higher specificity to give different look*/

  #nav .nav-link ,
  #nav .nav-link:link,
  #nav .nav-link:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #403b38;
  }
  
  #nav .nav-link:hover,
  #nav .nav-link:focus,
  #nav .nav-link.current {
    background-color: #403b38;
    color: #e6bc9c;
  }

/* change text align to left for mobile style, because the screen size smaller,
and people tend to read from left side */
section#home.home {
  text-align: left;
}

h1.page-title {
  text-align: left;
}

/* consistent using left align for each section for mobile style*/
section#about.about {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2.section-title {
  text-align: left;
}
/* consistent using left align for each section for mobile style*/
section#contact.contact {
  text-align: left;
}

/* change width to 95% for the form input in mobile style, 
so it the overview looks better*/
input.contact-form-input, 
.contact-form-input,
textarea.contact-form-input {
  width: 95%;
}

} 


/* ---------------------------------
          Desktop Styles
------------------------------------ */
@media only screen and (min-width: 761px){

/* bigger font size for desktop */
html{
  font-size: 16px;
}

/* navigation - use display inline so the navigation bar shows in row, 
change background color, color when the cursor hover, use higher specificity to give different look*/

#nav .nav-link ,
#nav .nav-link:link,
#nav .nav-link:visited {
  display: inline;
  padding: 1em 0;
  text-decoration: none;
  color: #403b38;
}

#nav .nav-link:hover,
#nav .nav-link:focus,
#nav .nav-link.current {
  background-color: #403b38;
  color: #e6bc9c;
}

/* for the home section, for desktop style keep center alignment, 
but change the font combination, so it easy to read */

section#home.home {
  text-align: center;
}

h1.page-title {
  text-align: center;
}

/* 
use overflow so the image still in the same container with the about me section
content text for desktop style, about me page use text-align left,
so can compliment the image on the left */
section#about.about {
  text-align: left;
  overflow: auto;
  max-width: 100%;
}

/* to make it easy to read and consistent,
h2 use center alignment, specificity 0,1,1 */
h2.section-title {
  text-align: center;
}

/* to make it easy to read and consistent,
center alignment, specificity 1,1,1  */
section#contact.contact {
  text-align: center;
}
/* change width to 98% for the form input in desktop style
, so it the overview looks better*/
input.contact-form-input,
.contact-form-input,
textarea.contact-form-input {
  width: 98%;
}

}

/* ---------------------------------
          Custom Styles
------------------------------------ */

/* use higher specificity 1,1,1
to change width so there are no white color on the left and right side*/
main#main.main {
  max-width: 100%;
}

/* change font family and use box sizing*/
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  
}

body {
  line-height: 1.5;
  
}

/* use higher specificity 1,1,0
so can overwrite and change font family, text-transform, background color and color */
#nav.nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px auto;
  border: 3px solid #e6bc9c;
  background-color: #e6bc9c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: auto;
}

/* use higher specificity 1,1,1
so can overwrite and change font family, background color and color */
section#home.home {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 100px;
  background-color:#fadbc2;
  color: #403b38;
}

/* use higher specificity to change font family*/
h1.page-title {
  font-family: serif;
  font-size: 2.5rem;
}

/* use higher specificity to change font family, background color and color*/
section#about.about {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 100px;
  background-color:#403b38;
  color: #fadbc2;
}

/* use higher specificity to change font family*/
h2.section-title {
  font-family: serif;
  font-size: 2.5rem;
}

/* use higher specificity to change font family, background color and color*/
section#contact.contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
 
  padding: 100px;
  background-color:#a67e5e;
  color: #403b38;
}

/* use higher specificity to change font family, change form background color, 
add border, change line height so easy to read*/
form.contact-form {
  background-color:#a67e5e;
  border: 3px solid #fadbc2;
  text-align: left;
  padding: 20px;
  width: auto;
  line-height: 1.8;
}
input.contact-form-input,
.contact-form-input,
textarea.contact-form-input {
  padding: 10px;
}

/* add padding and margin, change text-transform to uppercase*/
button {
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  margin: 8px 2px;
}

/* add background color, so it will look the same as the navigation */
footer {
  margin: auto;
  background-color: #e6bc9c;
  color: #403b38;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* change text-align to center, so it will look more clean */
footer p{
  text-align: center;
}